Repository Space-Stories/space-station-14, pull requests merged in 2024-09, with the labels that each got.

#86 Add new music in JukeBox
  Resources/Audio/Stories/Jukebox/acyberworld.ogg
  Resources/Audio/Stories/Jukebox/cantina.ogg
  Resources/Audio/Stories/Jukebox/hitthefloor.ogg
  Resources/Audio/Stories/Jukebox/mycastletown.ogg
  Resources/Audio/Stories/Jukebox/shboom.ogg
  Resources/Audio/Stories/Jukebox/spaceasshole.ogg
  Resources/Audio/Stories/Jukebox/spaceoddity.ogg
  Resources/Prototypes/Stories/Catalog/Jukebox/Standard.yml
Labels: No C#

#84 Музмат
  Resources/Prototypes/Stories/Catalog/VendingMachines/Inventories/musmat.yml
  Resources/Prototypes/Stories/Entities/Structures/vending_machines.yml
  Resources/Textures/Stories/Structures/Machines/VendingMachines/musmat.rsi/broken.png
  Resources/Textures/Stories/Structures/Machines/VendingMachines/musmat.rsi/deny-unshaded.png
  Resources/Textures/Stories/Structures/Machines/VendingMachines/musmat.rsi/meta.json
  Resources/Textures/Stories/Structures/Machines/VendingMachines/musmat.rsi/normal-unshaded.png
  Resources/Textures/Stories/Structures/Machines/VendingMachines/musmat.rsi/off.png
  Resources/Textures/Stories/Structures/Machines/VendingMachines/musmat.rsi/panel.png
Labels: Changes: Sprites, No C#

#83 Maps update
  Resources/Maps/Stories/barratry.yml
  Resources/Maps/Stories/corvax_ishimura.yml
  Resources/Prototypes/Stories/Maps/Pools/default.yml
  Resources/Prototypes/Stories/Maps/barratry.yml
Labels: Changes: Map, No C#

#87 Update game_presets.yml
  Resources/Prototypes/Stories/game_presets.yml
Labels: No C#

#88 Screen extension
  Resources/ConfigPresets/Stories/atlas.toml
  Resources/ConfigPresets/Stories/develop.toml
  Resources/ConfigPresets/Stories/furry.toml
  Resources/ConfigPresets/Stories/mappers.toml
  Resources/ConfigPresets/Stories/universe.toml
Labels: No C#

#67 Сверхматерия
  Content.Client/Goobstation/Supermatter/Systems/SupermatterSystem.cs
  Content.Server/Goobstation/Supermatter/Systems/SupermatterSystem.cs
  Content.Shared/Goobstation/Clothing/Components/ClothingGrantComponentComponent.cs
  Content.Shared/Goobstation/Clothing/Components/ClothingGrantTagComponent.cs
  Content.Shared/Goobstation/Clothing/Systems/ClothingGrantingSystem.cs
  Content.Shared/Goobstation/Supermatter/Components/SupermatterComponent.cs
  Content.Shared/Goobstation/Supermatter/Components/SupermatterFoodComponent.cs
  Content.Shared/Goobstation/Supermatter/Components/SupermatterImmuneComponent.cs
  Content.Shared/Goobstation/Supermatter/Systems/SharedSupermatterSystem.cs
  Resources/Audio/Goobstation/Supermatter/attributions.yml
  Resources/Audio/Goobstation/Supermatter/calm.ogg
  Resources/Audio/Goobstation/Supermatter/delamming.ogg
  Resources/Audio/Stories/Misc/altdelta.ogg
  Resources/Locale/en-US/Goobstation/supermatter/supermatter.ftl
  Resources/Locale/ru-RU/_stories/supermatter/supermatter.ftl
  Resources/Locale/ru-RU/alert-levels/alert-levels.ftl
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_binary.yml
  Resources/Prototypes/Stories/Entities/Objects/Misc/supermatter_sliver.yml
  Resources/Prototypes/Stories/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Stories/Entities/Structures/Supermatter/explosions.yml
  Resources/Prototypes/Stories/Entities/Structures/Supermatter/supermatter.yml
  Resources/Prototypes/Stories/Entities/Structures/Supermatter/tags.yml
  Resources/Prototypes/Stories/Guidebook/engineering.yml
  Resources/Prototypes/Stories/Recipes/Construction/utilities.yml
  Resources/ServerInfo/Goobstation/Guidebook/Engineering/Supermatter.xml
  Resources/Textures/Goobstation/Supermatter/supermatter.rsi/meta.json
  Resources/Textures/Goobstation/Supermatter/supermatter.rsi/supermatter.png
  Resources/Textures/Goobstation/Supermatter/supermatter_sliver.rsi/icon.png
  Resources/Textures/Goobstation/Supermatter/supermatter_sliver.rsi/meta.json
Labels: Changes: Sprites, Changes: Map

#92 Фикс крафтов
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_binary.yml
Labels: No C#

#76 Reflectors
  Content.Server/Stories/Reflectors/RefrectorSystem.cs
  Content.Shared/Stories/Reflectors/RefrectorComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Stories/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Stories/Entities/Structures/Machines/refrectors.yml
  Resources/Prototypes/Stories/Lathes/misc.yml
  Resources/Prototypes/Stories/Research/industrial.yml
  Resources/Textures/Stories/Objects/Misc/module.rsi/meta.json
  Resources/Textures/Stories/Objects/Misc/module.rsi/reflectorbox_circuitboard.png
  Resources/Textures/Stories/Objects/Misc/module.rsi/reflectorcorner_circuitboard.png
  Resources/Textures/Stories/Objects/Misc/module.rsi/reflectortsidecorner_circuitboard.png
  Resources/Textures/Stories/Structures/Machines/reflectors.rsi/meta.json
  Resources/Textures/Stories/Structures/Machines/reflectors.rsi/reflector_circle.png
  Resources/Textures/Stories/Structures/Machines/reflectors.rsi/reflector_corner.png
  Resources/Textures/Stories/Structures/Machines/reflectors.rsi/reflector_corner_tside.png
Labels: Changes: Sprites

#100 Лодауты для АВД
  Resources/Locale/ru-RU/_stories/loadouts/loadout-groups.ftl
  Resources/Prototypes/Stories/Loadouts/IAA_loadouts.yml
  Resources/Prototypes/Stories/Loadouts/detective_loadouts.yml
  Resources/Prototypes/Stories/Loadouts/jedint_loadouts.yml
  Resources/Prototypes/Stories/Loadouts/partners_backpacks.yml
  Resources/Prototypes/Stories/Loadouts/prison_loadouts.yml
Labels: No C#

#105 Revert "Сверхматерия (#67)"
  Content.Client/Goobstation/Supermatter/Systems/SupermatterSystem.cs
  Content.Server/Goobstation/Supermatter/Systems/SupermatterSystem.cs
  Content.Shared/Goobstation/Clothing/Components/ClothingGrantComponentComponent.cs
  Content.Shared/Goobstation/Clothing/Components/ClothingGrantTagComponent.cs
  Content.Shared/Goobstation/Clothing/Systems/ClothingGrantingSystem.cs
  Content.Shared/Goobstation/Supermatter/Components/SupermatterComponent.cs
  Content.Shared/Goobstation/Supermatter/Components/SupermatterFoodComponent.cs
  Content.Shared/Goobstation/Supermatter/Components/SupermatterImmuneComponent.cs
  Content.Shared/Goobstation/Supermatter/Systems/SharedSupermatterSystem.cs
  Resources/Audio/Goobstation/Supermatter/attributions.yml
  Resources/Audio/Goobstation/Supermatter/calm.ogg
  Resources/Audio/Goobstation/Supermatter/delamming.ogg
  Resources/Audio/Stories/Misc/altdelta.ogg
  Resources/Locale/en-US/Goobstation/supermatter/supermatter.ftl
  Resources/Locale/ru-RU/_stories/supermatter/supermatter.ftl
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_binary.yml
  Resources/Prototypes/Stories/Entities/Objects/Misc/supermatter_sliver.yml
  Resources/Prototypes/Stories/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Stories/Entities/Structures/Supermatter/explosions.yml
  Resources/Prototypes/Stories/Entities/Structures/Supermatter/supermatter.yml
  Resources/Prototypes/Stories/Entities/Structures/Supermatter/tags.yml
  Resources/Prototypes/Stories/Guidebook/engineering.yml
  Resources/Prototypes/Stories/Recipes/Construction/utilities.yml
  Resources/ServerInfo/Goobstation/Guidebook/Engineering/Supermatter.xml
  Resources/Textures/Goobstation/Supermatter/supermatter.rsi/meta.json
  Resources/Textures/Goobstation/Supermatter/supermatter.rsi/supermatter.png
  Resources/Textures/Goobstation/Supermatter/supermatter_sliver.rsi/icon.png
  Resources/Textures/Goobstation/Supermatter/supermatter_sliver.rsi/meta.json
Labels: Changes: Sprites

#95 Corvax tiles fixes
  Resources/Prototypes/Corvax/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Corvax/Stack/tiles.yml
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/meta.json
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood-black-inhand-left.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood-black-inhand-right.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood-dark-inhand-left.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood-dark-inhand-right.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood-light-inhand-left.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood-light-inhand-right.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood-red-inhand-left.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood-red-inhand-right.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_black.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_chess.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_chess_black.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_chess_dark.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_chess_light.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_chess_red.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_dark.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_large_black.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_large_dark.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_large_light.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_large_red.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_light.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_parquet.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_parquet_black.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_parquet_dark.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_parquet_light.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_parquet_red.png
  Resources/Textures/Corvax/Objects/Tiles/wood.rsi/wood_red.png
Labels: Changes: Sprites, No C#
