Repository Space-Stories/space-station-14, pull requests merged in 2024-10, with the labels that each got.

#108 Фикс отсутствия акцента у киданов
  Resources/Prototypes/Traits/speech.yml
Labels: No C#

#109 Доступ тюрьмы ролям ЦК
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/CentComm/official.yml
  Resources/Prototypes/Stories/Access/misc.yml
  Resources/Prototypes/Stories/Roles/Jobs/Prison/head_of_prison.yml
Labels: No C#

#113 Фикс сета джедая
  Resources/Prototypes/Stories/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Stories/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Stories/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Stories/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: No C#

#112 Небольшие исправления одежды стража и инквизитора
  Resources/Prototypes/Stories/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Stories/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Stories/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/Stories/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Stories/Entities/Clothing/OuterClothing/vests.yml
Labels: No C#

#116 Аварийки для киданов
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
Labels: No C#

#119 перенос стража в командование
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/Stories/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Stories/Roles/Jobs/Command/jedi_nt.yml
Labels: No C#

#120 Фикс противогаза хранителя
  Resources/Prototypes/Stories/Entities/Clothing/Masks/jedi.yml
Labels: No C#

#123 ограничения по времени для СИ
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
Labels: No C#

#122 глаголы и кровь киданов
  Resources/Prototypes/Stories/Entities/Mobs/Species/kidan.yml
  Resources/Prototypes/Stories/Voice/speech_verbs.yml
Labels: No C#

#121 звуки киданов
  Resources/Prototypes/Stories/SoundCollections/emotes.yml
  Resources/Prototypes/Stories/Voice/speech_emote_sounds.yml
Labels: No C#

#124 страж подчиняется цк
  Resources/Prototypes/Stories/Roles/Jobs/Command/jedi_nt.yml
Labels: No C#

#129 kidan DamageVisuals
  Resources/Prototypes/Stories/Entities/Mobs/Species/kidan.yml
Labels: No C#

#127 Changing/adding images for the lobby
  Resources/Prototypes/Stories/lobbyscreens.yml
  Resources/Textures/Stories/LobbyScreens/GlorySSSP.jpg
  Resources/Textures/Stories/LobbyScreens/GlorySSSP.jpg.yml
  Resources/Textures/Stories/LobbyScreens/Nuclear_environment.jpg
  Resources/Textures/Stories/LobbyScreens/Nuclear_environment.jpg.yml
  Resources/Textures/Stories/LobbyScreens/Nuclear_environmentV2.jpg
  Resources/Textures/Stories/LobbyScreens/Nuclear_environmentV2.jpg.yml
  Resources/Textures/Stories/LobbyScreens/Paramedic.jpg
  Resources/Textures/Stories/LobbyScreens/Paramedic.jpg.yml
  Resources/Textures/Stories/LobbyScreens/Starbow.jpg
  Resources/Textures/Stories/LobbyScreens/Starbow.jpg.yml
  Resources/Textures/Stories/LobbyScreens/Therapy.jpg
  Resources/Textures/Stories/LobbyScreens/Therapy.jpg.yml
  Resources/Textures/Stories/LobbyScreens/Zombie.jpg
  Resources/Textures/Stories/LobbyScreens/Zombie.jpg.yml
Labels: No C#

#133 Editing admin notifications
  Resources/Locale/ru-RU/mass-media/news-ui.ftl
Labels: No C#

#145 stats hotfix
  Resources/Locale/ru-RU/info/playtime-stats.ftl
Labels: No C#

#142 Translate vox names
  Resources/Prototypes/Datasets/Names/vox.yml
Labels: No C#

#140 locale fixes
  Resources/Locale/ru-RU/_stories/paper/stamp-component.ftl
  Resources/Prototypes/Stories/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Stories/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Stories/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Stories/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: No C#

#137 Новые текстуры шлюзов гидропоники
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/panel_closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/welded.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/panel_closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/welded.png
Labels: Changes: Sprites, No C#

#99 Перенёс уши чтобы фембои были счастливы
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/ears.yml
Labels: No C#

#154 увеличение объема кувшинов с 200 до 300 ед
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
Labels: No C#

#153 fix: nvg to stories
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Stories/Catalog/uplink_catalog.yml
Labels: No C#

#149 sith self conversion and force locale fixes
  Resources/Prototypes/Stories/Actions/force/darkside.yml
  Resources/Prototypes/Stories/Actions/force/general.yml
  Resources/Prototypes/Stories/Actions/force/lightside.yml
  Resources/Prototypes/Stories/Catalog/darkside_catalog.yml
  Resources/Prototypes/Stories/Catalog/general_catalog.yml
  Resources/Prototypes/Stories/Catalog/lightside_catalog.yml
Labels: No C#

#150 syndicat resprite
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/Stories/Mobs/Pets/syndiCat.rsi/meta.json
  Resources/Textures/Stories/Mobs/Pets/syndiCat.rsi/old-radio-syndicat.png
  Resources/Textures/Stories/Mobs/Pets/syndiCat.rsi/syndicat.png
  Resources/Textures/Stories/Mobs/Pets/syndiCat.rsi/syndicat_dead.png
Labels: Changes: Sprites, No C#

#148 Scrap resprite
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-airlock-1.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-airlock-2.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-camera.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-canister-1.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-firelock-1.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-firelock-2.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/meta.json
Labels: Changes: Sprites, No C#

#155 sith locale fixes
  Resources/Locale/ru-RU/_stories/sith.ftl
  Resources/Prototypes/Stories/Force/presets.yml
  Resources/Prototypes/Stories/Objectives/sith.yml
Labels: No C#

#158 admin id fix
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: No C#

#157 prison engi apc access
  Resources/Prototypes/Entities/Structures/Power/apc.yml
Labels: No C#

#156 sith hypnosis locale fix
  Resources/Locale/ru-RU/_stories/sith.ftl
  Resources/Prototypes/Stories/Objectives/sith.yml
Labels: No C#

#147 disable contra examine
  Resources/ConfigPresets/Stories/atlas.toml
  Resources/ConfigPresets/Stories/universe.toml
Labels: No C#

#161 jugs stories
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
Labels: No C#

#167 rem crlf
  Resources/Textures/Stories/LobbyScreens/GlorySSSP.jpg.yml
  Resources/Textures/Stories/LobbyScreens/Nuclear_environment.jpg.yml
  Resources/Textures/Stories/LobbyScreens/Nuclear_environmentV2.jpg.yml
  Resources/Textures/Stories/LobbyScreens/Paramedic.jpg.yml
  Resources/Textures/Stories/LobbyScreens/Starbow.jpg.yml
  Resources/Textures/Stories/LobbyScreens/Therapy.jpg.yml
  Resources/Textures/Stories/LobbyScreens/Zombie.jpg.yml
Labels: No C#

#175 fix spaf spawn
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#177 Фикс имплантов
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/subdermal_implants.ftl
Labels: No C#

#162 Fix for issuing multiple items
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Stories/Roles/Jobs/Command/iaa.yml
Labels: No C#

#159 alert levels
  Resources/Locale/ru-RU/alert-levels/alert-levels.ftl
Labels: No C#

#179 disable singulo beacon
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#181 change revenant tts to twitch
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
Labels: No C#, Approved

#180 Принтер для АВД
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
Labels: No C#, Approved

#185 Фикс: ограничения по времени для ГВ
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
Labels: No C#

#193 Руководства законов (попытка номер 2)
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Guidebook/SpaceStoriesLaw.yml
  Resources/Prototypes/Guidebook/references.yml
  Resources/Prototypes/Guidebook/rules.yml
  Resources/Prototypes/Guidebook/security.yml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceStoriesLaw/SpaceStationBRIB.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceStoriesLaw/SpaceStationLaw.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceStoriesLaw/SpaceStationSop.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceStoriesLaw/SpaceStationTableLaw.xml
  Resources/ServerInfo/Guidebook/Service/FoodRecipes.xml
Labels: No C#

#187 add jani reqs
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
Labels: No C#

#194 jani hotfix
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
Labels: No C#

#196 практически фикс: remove iaa age req
  Resources/Prototypes/Stories/Roles/Jobs/Command/iaa.yml
Labels: No C#

#198 Небольшие фиксы и улучшения АВД и стража
  Resources/Locale/ru-RU/_stories/loadouts/loadout-groups.ftl
  Resources/Prototypes/Stories/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Stories/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Stories/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Stories/Entities/Objects/Misc/stamps.yml
  Resources/Prototypes/Stories/Entities/Objects/encryption_keys.yml
  Resources/Prototypes/Stories/Entities/Objects/identification_cards.yml
  Resources/Prototypes/Stories/Entities/Objects/pda.yml
  Resources/Prototypes/Stories/Entities/Objects/stamps.yml
  Resources/Prototypes/Stories/Loadouts/IAA_loadouts.yml
  Resources/Prototypes/Stories/Roles/Jobs/Command/iaa.yml
Labels: No C#

#197 Return cat parts for human
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/ears.yml
  Resources/Prototypes/Species/human.yml
Labels: No C#

#202 change server descs
  Resources/ConfigPresets/Stories/atlas.toml
  Resources/ConfigPresets/Stories/universe.toml
Labels: No C#

#208 access
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
  Resources/Prototypes/Stories/Entities/Objects/door_remote.yml
Labels: No C#

#195 prisoner tweaks
  Resources/Prototypes/Stories/Roles/Jobs/Prison/prisoner.yml
Labels: No C#

#211 game presets in vote
  Resources/Prototypes/Stories/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: No C#

#210 add doublechest0 to codeowners
  .github/CODEOWNERS
Labels: No C#, Status: Needs Review

#212 fix prison map
  Resources/Maps/Stories/prison.yml
Labels: Changes: Map, No C#
