Repository Space-Stories/space-station-14, pull requests merged in 2024-11, with the labels that each got.

#182 robot tts tweaks
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
Labels: No C#

#118 Анаконда
  Resources/Prototypes/Stories/Catalog/uplink_catalog.yml
  Resources/Prototypes/Stories/Entities/Objects/Weapons/Guns/Ammunition/cartridges.yml
  Resources/Prototypes/Stories/Entities/Objects/Weapons/Guns/Ammunition/projectiles.yml
  Resources/Prototypes/Stories/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Textures/Stories/Objects/Weapons/Guns/Pistols/anaconda.rsi/base.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Pistols/anaconda.rsi/bolt-open.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Pistols/anaconda.rsi/equipped-BELT.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Pistols/anaconda.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Pistols/anaconda.rsi/icon.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Pistols/anaconda.rsi/inhand-left.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Pistols/anaconda.rsi/inhand-right.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Pistols/anaconda.rsi/mag-0.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Pistols/anaconda.rsi/meta.json
Labels: Changes: Sprites, No C#

#151 Night vision toggling
  Content.Server/Stories/Nightvision/NightvisionSystem.cs
  Content.Shared/Stories/Nightvision/NightvisionComponent.cs
  Content.Shared/Stories/Nightvision/SharedNightvisionSystem.cs
  Resources/Audio/Stories/Misc/attributions.yml
  Resources/Audio/Stories/Misc/night_vision.ogg
  Resources/Prototypes/Stories/Actions/nightvision.yml
Labels: Status: Needs Review

#214 pai tts hotfix
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
Labels: No C#, Status: Needs Review

#205 shadowlings can't cuff
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Stories/Cuffs/CufferComponent.cs
  Resources/Locale/ru-RU/cuffs/components/handcuff-component.ftl
  Resources/Prototypes/Stories/Entities/Mobs/Species/shadowling.yml
Labels: Status: Needs Review

#219 cuffer balance
  Content.Shared/Cuffs/SharedCuffableSystem.cs
Labels: Status: Needs Review

#138 Очки термального зрения
  Content.Server/Stories/ThermalVision/ThermalVisionSystem.cs
  Content.Shared/Stories/ThermalVision/SharedThermalVisionSystem.cs
  Content.Shared/Stories/ThermalVision/ThermalVisionClothingComponent.cs
  Content.Shared/Stories/ThermalVision/ThermalVisionComponent.cs
  Resources/Prototypes/Stories/Actions/thermalvision.yml
  Resources/Prototypes/Stories/Catalog/uplink_catalog.yml
  Resources/Prototypes/Stories/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Stories/Entities/Mobs/Ghosts/ascendance.yml
  Resources/Prototypes/Stories/Entities/Mobs/Ghosts/shadowling.yml
  Resources/Prototypes/Stories/Entities/Mobs/Species/shadowling.yml
  Resources/Prototypes/Stories/conversions.yml
  Resources/Textures/Stories/Actions/thermalVision.rsi/meta.json
  Resources/Textures/Stories/Actions/thermalVision.rsi/toggle.png
  Resources/Textures/Stories/Clothing/Eyes/Glasses/termalhud.rsi/equipped-EYES.png
  Resources/Textures/Stories/Clothing/Eyes/Glasses/termalhud.rsi/icon.png
  Resources/Textures/Stories/Clothing/Eyes/Glasses/termalhud.rsi/inhand-left.png
  Resources/Textures/Stories/Clothing/Eyes/Glasses/termalhud.rsi/inhand-right.png
  Resources/Textures/Stories/Clothing/Eyes/Glasses/termalhud.rsi/meta.json
  Resources/Textures/Stories/Clothing/Eyes/Glasses/termalhud_oneglass.rsi/equipped-EYES.png
  Resources/Textures/Stories/Clothing/Eyes/Glasses/termalhud_oneglass.rsi/icon.png
  Resources/Textures/Stories/Clothing/Eyes/Glasses/termalhud_oneglass.rsi/inhand-left.png
  Resources/Textures/Stories/Clothing/Eyes/Glasses/termalhud_oneglass.rsi/inhand-right.png
  Resources/Textures/Stories/Clothing/Eyes/Glasses/termalhud_oneglass.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#221 revert hide aghost
  Content.Shared/Ghost/SharedGhostSystem.cs
  Content.Shared/Stories/Admin/Aghost/Actions/HideGhostComponent.cs
  Content.Shared/Stories/Admin/Aghost/Actions/HideGhostSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Textures/Stories/Interface/AdminActions/hide_ghost.png
Labels: Status: Needs Review

#229 Update issue templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/request.md
  .github/ISSUE_TEMPLATE/предложение-о-новом-контенте.md
  .github/ISSUE_TEMPLATE/сообщить-о-баге.md
  .github/ISSUE_TEMPLATE/сообщить-о-недоработке.md
Labels: No C#

#232 fuck web edit
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/flaw.md
Labels: No C#

#231 spaf enhancements
  Resources/ConfigPresets/Stories/atlas.toml
  Resources/ConfigPresets/Stories/universe.toml
  Resources/Locale/ru-RU/_stories/ghost-roles.ftl
  Resources/Prototypes/Stories/Entities/Mobs/Aliens/spaf.yml
  Resources/Prototypes/Stories/Entities/Objects/Misc/spaf_egg.yml
  Resources/Prototypes/Stories/radio_channels.yml
Labels: No C#, Status: Needs Review

#237 all at once 1984
  Resources/Prototypes/game_presets.yml
Labels: No C#, Status: Needs Review

#239 Space Koi
  Resources/Prototypes/Stories/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Stories/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/Stories/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Stories/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/Stories/Mobs/Aliens/Kois/blood_skeleton.rsi/alive.png
  Resources/Textures/Stories/Mobs/Aliens/Kois/blood_skeleton.rsi/dead.png
  Resources/Textures/Stories/Mobs/Aliens/Kois/blood_skeleton.rsi/icon.png
  Resources/Textures/Stories/Mobs/Aliens/Kois/blood_skeleton.rsi/meta.json
  Resources/Textures/Stories/Mobs/Aliens/Kois/gold_black.rsi/alive.png
  Resources/Textures/Stories/Mobs/Aliens/Kois/gold_black.rsi/dead.png
  Resources/Textures/Stories/Mobs/Aliens/Kois/gold_black.rsi/icon.png
  Resources/Textures/Stories/Mobs/Aliens/Kois/gold_black.rsi/meta.json
  Resources/Textures/Stories/Mobs/Aliens/Kois/red_black.rsi/alive.png
  Resources/Textures/Stories/Mobs/Aliens/Kois/red_black.rsi/dead.png
  Resources/Textures/Stories/Mobs/Aliens/Kois/red_black.rsi/icon.png
  Resources/Textures/Stories/Mobs/Aliens/Kois/red_black.rsi/livestock_icon.png
  Resources/Textures/Stories/Mobs/Aliens/Kois/red_black.rsi/meta.json
  Resources/Textures/Stories/Mobs/Aliens/Kois/red_circle.rsi/alive.png
  Resources/Textures/Stories/Mobs/Aliens/Kois/red_circle.rsi/dead.png
  Resources/Textures/Stories/Mobs/Aliens/Kois/red_circle.rsi/icon.png
  Resources/Textures/Stories/Mobs/Aliens/Kois/red_circle.rsi/meta.json
  Resources/Textures/Stories/Mobs/Aliens/Kois/space_glow.rsi/alive.png
  Resources/Textures/Stories/Mobs/Aliens/Kois/space_glow.rsi/dead.png
  Resources/Textures/Stories/Mobs/Aliens/Kois/space_glow.rsi/icon.png
  Resources/Textures/Stories/Mobs/Aliens/Kois/space_glow.rsi/meta.json
  Resources/Textures/Stories/Mobs/Aliens/Kois/space_glow.rsi/unshaded.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#241 Revert "Анаконда (#118)"
  Resources/Prototypes/Stories/Catalog/uplink_catalog.yml
  Resources/Prototypes/Stories/Entities/Objects/Weapons/Guns/Ammunition/cartridges.yml
  Resources/Prototypes/Stories/Entities/Objects/Weapons/Guns/Ammunition/projectiles.yml
  Resources/Prototypes/Stories/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Textures/Stories/Objects/Weapons/Guns/Pistols/anaconda.rsi/base.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Pistols/anaconda.rsi/bolt-open.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Pistols/anaconda.rsi/equipped-BELT.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Pistols/anaconda.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Pistols/anaconda.rsi/icon.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Pistols/anaconda.rsi/inhand-left.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Pistols/anaconda.rsi/inhand-right.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Pistols/anaconda.rsi/mag-0.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Pistols/anaconda.rsi/meta.json
Labels: Changes: Sprites, No C#

#242 Update barratry.yml
  Resources/Maps/Stories/barratry.yml
Labels: Changes: Map, No C#

#255 time fixes
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Labels: No C#, Status: Needs Review

#243 Бронежилет инквизитора
  Resources/Prototypes/Stories/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Stories/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Stories/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Textures/Stories/Clothing/OuterClothing/Vests/sith_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Stories/Clothing/OuterClothing/Vests/sith_armor.rsi/icon.png
  Resources/Textures/Stories/Clothing/OuterClothing/Vests/sith_armor.rsi/inhand-left.png
  Resources/Textures/Stories/Clothing/OuterClothing/Vests/sith_armor.rsi/inhand-right.png
  Resources/Textures/Stories/Clothing/OuterClothing/Vests/sith_armor.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#233 thermite burns through walls
  Resources/Locale/ru-RU/_stories/reagents/thermite.ftl
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: No C#, Status: Needs Review

#260 minor tetherhand fix
  Content.Server/Stories/ForceUser/Systems/Actions/ForceUserSystem.LightSaber.cs
Labels: Status: Needs Review

#256 Clothingwhitelisttweaks
  Content.Server/Stories/ClothingWhitelist/ClothingWhitelistComponent.cs
  Content.Server/Stories/ClothingWhitelist/ClothingWhitelistSystem.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Stories/Entities/Clothing/base_clothing.yml
Labels: Status: Needs Review

#263 tts shenanigans
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/structure_artifacts.yml
  Resources/Prototypes/Stories/Entities/Mobs/Aliens/spaf.yml
  Resources/Prototypes/Stories/Entities/Mobs/sith.yml
Labels: No C#

#262 Добавить ЦИИ на трейн.
  Resources/Maps/Stories/train.yml
Labels: Changes: Map, No C#, Status: Needs Review

#290 printer collision
  Resources/Prototypes/Stories/Entities/Structures/Machines/printer.yml
Labels: No C#

#283 Изменение кувшинов
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Stories/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/Stories/Recipes/Lathes/medical.yml
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/inhand-left-fill-1.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/inhand-left-fill-2.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/inhand-left-fill-3.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/inhand-left-fill-4.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/inhand-left-fill-5.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/inhand-left.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/inhand-right-fill-1.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/inhand-right-fill-2.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/inhand-right-fill-3.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/inhand-right-fill-4.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/inhand-right-fill-5.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/inhand-right.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/jug.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/jug1.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/jug2.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/jug3.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/jug4.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/jug5.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/jug6.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/jug7.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/jug8.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/jug9.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/meta.json
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug.rsi/unlit.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/inhand-left-fill-1.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/inhand-left-fill-2.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/inhand-left-fill-3.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/inhand-left-fill-4.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/inhand-left-fill-5.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/inhand-left.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/inhand-right-fill-1.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/inhand-right-fill-2.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/inhand-right-fill-3.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/inhand-right-fill-4.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/inhand-right-fill-5.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/inhand-right.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/jug.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/jug1.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/jug2.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/jug3.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/jug4.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/jug5.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/jug6.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/jug7.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/jug8.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/jug9.png
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/meta.json
  Resources/Textures/Stories/Objects/Specific/Chemistry/big_jug_syndicate.rsi/unlit.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#278 New Haircuts
  Resources/Locale/ru-RU/_stories/accessories/human-hair.ftl
  Resources/Prototypes/Stories/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/cornrowbacktail.png
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/dragon.png
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/fighter.png
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/karen.png
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/longshoulder.png
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/master.png
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/musician.png
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/ponytail8.png
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/powder.png
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/shortsidebangs.png
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/side.png
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/sidesweeps.png
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/stock.png
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/stylish.png
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/twinbangs.png
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/twotails.png
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/undercutfade.png
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/upbangs.png
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/wheatear.png
  Resources/Textures/Stories/Mobs/Customization/human_hair.rsi/yoga.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#276 Add: humans can have horns now
  Resources/Locale/ru-RU/_stories/markings/horns.ftl
  Resources/Prototypes/Stories/Entities/Mobs/Customization/Markings/horns.yml
  Resources/Textures/Stories/Mobs/Customization/horns.rsi/horns_short.png
  Resources/Textures/Stories/Mobs/Customization/horns.rsi/horns_simple.png
  Resources/Textures/Stories/Mobs/Customization/horns.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#288 shadowling to all at once
  Resources/Prototypes/game_presets.yml
Labels: No C#, Status: Needs Review

#286 Русский акцент
  Content.Server/Speech/EntitySystems/GermanAccentSystem.cs
  Resources/Locale/ru-RU/accent/german.ftl
  Resources/Locale/ru-RU/accent/russian.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: No C#, Status: Needs Review
