Repository Space-Stories/space-station-14, pull requests merged in 2024-08, with the labels that each got.

#50 Return S.P.A.F.
  Content.Server/Stories/Spaf/SpafSystem.cs
  Content.Shared/Stories/Spaf/SharedSpafSystem.cs
  Content.Shared/Stories/Spaf/SpafActions.cs
  Content.Shared/Stories/Spaf/SpafComponent.cs
  Resources/Locale/ru-RU/_stories/ghost-roles.ftl
  Resources/Locale/ru-RU/_stories/spaf.ftl
  Resources/Prototypes/Stories/Actions/spaf.yml
  Resources/Prototypes/Stories/Alerts/spaf.yml
  Resources/Prototypes/Stories/Datasets/Names/spaf_first.yml
  Resources/Prototypes/Stories/Datasets/Names/spaf_last.yml
  Resources/Prototypes/Stories/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Stories/Entities/Mobs/NPCs/spaf.yml
  Resources/Prototypes/Stories/Entities/Objects/Misc/spaf_egg.yml
  Resources/Prototypes/Stories/Entities/Objects/Misc/spaf_mine.yml
  Resources/Prototypes/Stories/GameRules/events.yml
  Resources/Prototypes/Stories/Polymorphs/spaf.yml
  Resources/Prototypes/Stories/lobbyscreens.yml
  Resources/Prototypes/Stories/radio_channels.yml
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/Stories/Actions/spaf.rsi/meta.json
  Resources/Textures/Stories/Actions/spaf.rsi/spaf_devour.png
  Resources/Textures/Stories/Actions/spaf.rsi/spaf_devour_on.png
  Resources/Textures/Stories/Actions/spaf.rsi/spaf_egg.png
  Resources/Textures/Stories/Actions/spaf.rsi/spaf_evol.png
  Resources/Textures/Stories/Actions/spaf.rsi/spaf_food.png
  Resources/Textures/Stories/Actions/spaf.rsi/spaf_glue.png
  Resources/Textures/Stories/Actions/spaf.rsi/spaf_light.png
  Resources/Textures/Stories/Actions/spaf.rsi/spaf_lube.png
  Resources/Textures/Stories/Actions/spaf.rsi/spaf_mine.png
  Resources/Textures/Stories/Actions/spaf.rsi/spaf_stealth.png
  Resources/Textures/Stories/Interface/Alerts/spaf_alive.rsi/health0.png
  Resources/Textures/Stories/Interface/Alerts/spaf_alive.rsi/health1.png
  Resources/Textures/Stories/Interface/Alerts/spaf_alive.rsi/health2.png
  Resources/Textures/Stories/Interface/Alerts/spaf_alive.rsi/health3.png
  Resources/Textures/Stories/Interface/Alerts/spaf_alive.rsi/health4.png
  Resources/Textures/Stories/Interface/Alerts/spaf_alive.rsi/meta.json
  Resources/Textures/Stories/Mobs/Aliens/minispaf.rsi/dead.png
  Resources/Textures/Stories/Mobs/Aliens/minispaf.rsi/meta.json
  Resources/Textures/Stories/Mobs/Aliens/minispaf.rsi/spaf.png
  Resources/Textures/Stories/Mobs/Aliens/spaf.rsi/dead.png
  Resources/Textures/Stories/Mobs/Aliens/spaf.rsi/meta.json
  Resources/Textures/Stories/Mobs/Aliens/spaf.rsi/spaf.png
  Resources/Textures/Stories/Mobs/Aliens/spafegg.rsi/dead.png
  Resources/Textures/Stories/Mobs/Aliens/spafegg.rsi/meta.json
  Resources/Textures/Stories/Mobs/Aliens/spafegg.rsi/spaf_eggs.png
  Resources/Textures/Stories/Mobs/Aliens/spafobserv.rsi/meta.json
  Resources/Textures/Stories/Mobs/Aliens/spafobserv.rsi/spaf.png
  Resources/Textures/Stories/Objects/Misc/spafmine.rsi/meta.json
  Resources/Textures/Stories/Objects/Misc/spafmine.rsi/spafmine-inactive.png
  Resources/Textures/Stories/Objects/Misc/spafmine.rsi/spafmine.png
Labels: Changes: Sprites

#52 added space cruiser track
  Resources/Audio/Jukebox/spacecruiser.ogg
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
Labels: No C#

#53 Revert "added space cruiser track"
  Resources/Audio/Jukebox/spacecruiser.ogg
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
Labels: No C#

#60 New music (only my commits)
  Resources/Audio/Stories/Jukebox/cayava.ogg
  Resources/Audio/Stories/Jukebox/spacecruiser.ogg
  Resources/Prototypes/Stories/Catalog/Jukebox/Standard.yml
Labels: No C#

#69 Респрайт энергетического дробовика
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/Stories/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/base.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/equipped-BACKPACK.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/icon.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-1.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-2.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-3.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/mag-unshaded-4.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Battery/energy_shotgun.rsi/meta.json
  Resources/Textures/Stories/Objects/Weapons/Guns/Battery/inhands_64x.rsi/energy-inhand-left.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Battery/inhands_64x.rsi/energy-inhand-right.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Battery/inhands_64x.rsi/meta.json
  Resources/Textures/Stories/Objects/Weapons/Guns/Battery/inhands_64x.rsi/wielded-inhand-left.png
  Resources/Textures/Stories/Objects/Weapons/Guns/Battery/inhands_64x.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, No C#

#70 Обновление, ура
  Resources/Prototypes/Stories/Catalog/uplink_catalog.yml
  Resources/Prototypes/Stories/Decals/crayons.yml
  Resources/Prototypes/Stories/Entities/Objects/Tools/jammer.yml
  Resources/Textures/Stories/Effects/crayondecals.rsi/cyr_b.png
  Resources/Textures/Stories/Effects/crayondecals.rsi/cyr_c.png
  Resources/Textures/Stories/Effects/crayondecals.rsi/cyr_ch.png
  Resources/Textures/Stories/Effects/crayondecals.rsi/cyr_d.png
  Resources/Textures/Stories/Effects/crayondecals.rsi/cyr_eh.png
  Resources/Textures/Stories/Effects/crayondecals.rsi/cyr_f.png
  Resources/Textures/Stories/Effects/crayondecals.rsi/cyr_g.png
  Resources/Textures/Stories/Effects/crayondecals.rsi/cyr_hard_sign.png
  Resources/Textures/Stories/Effects/crayondecals.rsi/cyr_i.png
  Resources/Textures/Stories/Effects/crayondecals.rsi/cyr_l.png
  Resources/Textures/Stories/Effects/crayondecals.rsi/cyr_p.png
  Resources/Textures/Stories/Effects/crayondecals.rsi/cyr_sh.png
  Resources/Textures/Stories/Effects/crayondecals.rsi/cyr_shh.png
  Resources/Textures/Stories/Effects/crayondecals.rsi/cyr_soft_sign.png
  Resources/Textures/Stories/Effects/crayondecals.rsi/cyr_u.png
  Resources/Textures/Stories/Effects/crayondecals.rsi/cyr_y.png
  Resources/Textures/Stories/Effects/crayondecals.rsi/cyr_ya.png
  Resources/Textures/Stories/Effects/crayondecals.rsi/cyr_z.png
  Resources/Textures/Stories/Effects/crayondecals.rsi/cyr_zh.png
  Resources/Textures/Stories/Effects/crayondecals.rsi/meta.json
  Resources/Textures/Stories/Objects/Devices/jammer_ind.rsi/inhand-left.png
  Resources/Textures/Stories/Objects/Devices/jammer_ind.rsi/inhand-right.png
  Resources/Textures/Stories/Objects/Devices/jammer_ind.rsi/jammer.png
  Resources/Textures/Stories/Objects/Devices/jammer_ind.rsi/jammer_high_charge.png
  Resources/Textures/Stories/Objects/Devices/jammer_ind.rsi/jammer_low_charge.png
  Resources/Textures/Stories/Objects/Devices/jammer_ind.rsi/jammer_medium_charge.png
  Resources/Textures/Stories/Objects/Devices/jammer_ind.rsi/meta.json
Labels: Changes: Sprites, No C#

#72 TTS upstream
  Resources/Prototypes/tts-voices.yml
Labels: No C#

#74 Убрана GeltaStation из пула карт
  Resources/Prototypes/Stories/Maps/Pools/default.yml
Labels: No C#
